:root{

    --background:#0A0A0A;

    --card:#111111;

    --glass:rgba(255,255,255,.05);

    --border:rgba(255,255,255,.08);

    --primary:#6366F1;

    --secondary:#8B5CF6;

    --cyan:#06B6D4;

    --text:#F8FAFC;

    --gray:#94A3B8;

}